<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>supermarket.md</title>
    <link th:href="@{/style.css}" rel="stylesheet" />


</head>

<body id="preview">
<h1 class="code-line" data-line-start=1 data-line-end=2><a id="supermarket_1"></a>supermarket</h1>
<p class="has-line-data" data-line-start="3" data-line-end="4">Supermarket is a REST-API allowing front-end developers
    to create super-market management applications.</p>
<div th:insert="loginform">

</div>
<h2 class="code-line" data-line-start=5 data-line-end=6><a id="Product_productid_5"></a>Product [/product/{id}]</h2>
<h3 class="code-line" data-line-start=7 data-line-end=8><a id="Get_a_Product_GET_7"></a>Get a Product [GET]</h3>
<ul>
    <li class="has-line-data" data-line-start="9" data-line-end="42">
        <p class="has-line-data" data-line-start="9" data-line-end="10">Response 200 (application/json)</p>
        <pre><code>  {
      &quot;id&quot;: 1,
      &quot;barcode&quot;: &quot;2340002112286&quot;,
      &quot;name&quot;: &quot;Bananas&quot;,
      &quot;description&quot;: &quot;Bananas&quot;,
      &quot;category&quot;: {
          &quot;id&quot;: 1,
          &quot;name&quot;: &quot;Fruits&quot;
      },
      &quot;brand&quot;: {
          &quot;id&quot;, 1,
          &quot;name&quot;: &quot;Chiquita&quot;
      },
      &quot;vatTarrif&quot;: &quot;LOW&quot;,
      &quot;unit&quot;: &quot;KG&quot;,
      &quot;price&quot;: 0.55,
      &quot;brand&quot;: {
          &quot;name&quot;: &quot;Chiquita&quot;
      },
      &quot;suppliers&quot;: [
          {
              &quot;id&quot;: 9,
              &quot;name&quot;: &quot;Fruits Supplier&quot;
          },
          {
              &quot;id&quot;: 8,
              &quot;name&quot;: &quot;Generic Supplier&quot;
          }
      ]
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=42 data-line-end=43><a id="Product_Creation_product_42"></a>Product Creation
    [/product/]</h2>
<h3 class="code-line" data-line-start=44 data-line-end=45><a id="Create_a_New_Product_POST_44"></a>Create a New Product
    [POST]</h3>
<p class="has-line-data" data-line-start="46" data-line-end="49">You may create your own product using this action. It
    takes a JSON<br>
    object containing the following properties.<br>
    #####Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="50" data-line-end="51">barcode (string - mandatory) - The product’s
        barcode.
    </li>
    <li class="has-line-data" data-line-start="51" data-line-end="52">name (string - mandatory) - The product’s name.
    </li>
    <li class="has-line-data" data-line-start="52" data-line-end="53">description (string - optional) - A short
        description of the product.
    </li>
    <li class="has-line-data" data-line-start="53" data-line-end="54">category (JSON object - mandatory) - The product’s
        category id.
    </li>
    <li class="has-line-data" data-line-start="54" data-line-end="55">brand (JSON object/mandatory) - The product’s
        brand id.
    </li>
    <li class="has-line-data" data-line-start="55" data-line-end="56">vatTarrif (number) - The product’s VAT category,
        (NONE:0, ZERO:1, LOW:2, HIGH:3).
    </li>
    <li class="has-line-data" data-line-start="56" data-line-end="57">unit (number) - The product unit of measurement
        category, (UNSPECIFIED:0, PC:1, KG:2).
    </li>
    <li class="has-line-data" data-line-start="57" data-line-end="58">price (number) - The product’s price.</li>
    <li class="has-line-data" data-line-start="58" data-line-end="59">suppliers (Array&lt;json&gt;) - The suppliers’ ids
        associated with the product.
    </li>
</ul>
<ul>
    <li class="has-line-data" data-line-start="61" data-line-end="86">
        <p class="has-line-data" data-line-start="61" data-line-end="62">Request (application/json)</p>
        <pre><code>      {
          &quot;barcode&quot;: &quot;1iia778n220k1&quot;,
          &quot;name&quot;: &quot;Bananas&quot;,
          &quot;description&quot;: &quot;These are some bananas&quot;,
          &quot;category&quot;: {
              &quot;id&quot;: 1
          },
          &quot;brand&quot;: {
              &quot;id&quot;: 1
          },
          &quot;vatTarrif&quot;: 2,
          &quot;unit&quot;: 2,
          &quot;price&quot;: 1.25,
          &quot;suppliers&quot;: [
              {
                  &quot;id&quot;: 1
              },
              {
                  &quot;id&quot;: 2
              }
          ]
      }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="86" data-line-end="120">
        <p class="has-line-data" data-line-start="86" data-line-end="87">Response (body)</p>
        <pre><code>  {
      &quot;id&quot;: 22,
      &quot;barcode&quot;: &quot;1iia778n220k1&quot;,
      &quot;name&quot;: &quot;Bananas&quot;,
      &quot;description&quot;: &quot;These are some bananas&quot;,
      &quot;category&quot;: {
          &quot;id&quot;: 1,
          &quot;name&quot;: &quot;Fruits
      },
      &quot;brand&quot;: {
          &quot;id&quot;: 1,
          &quot;name&quot;: &quot;Chiquita&quot;
      },
      &quot;vatTarrif&quot;: &quot;LOW&quot;,
      &quot;unit&quot;: &quot;KG&quot;,
      &quot;price&quot;: 1.25,

      &quot;suppliers&quot;: [
          {
              &quot;id&quot;: 9,
              &quot;name&quot;: &quot;Fruit Supplier&quot;
          },
          {
              &quot;id&quot;: 8,
              &quot;name&quot;: &quot;Generic Supplier&quot;
          }
      ]
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=120 data-line-end=121><a id="Product_Change_productid_120"></a>Product Change
    [/product/{id}]</h2>
<h3 class="code-line" data-line-start=122 data-line-end=123><a id="Update_an_Existing_Product_PUT_122"></a>Update an
    Existing Product [PUT]</h3>
<p class="has-line-data" data-line-start="124" data-line-end="127">You may update an existing product using this action.
    It takes a JSON<br>
    object containing the following properties.<br>
    ####Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="128" data-line-end="129">barcode (string - mandatory) - The product’s
        barcode.
    </li>
    <li class="has-line-data" data-line-start="129" data-line-end="130">name (string - mandatory) - The product’s
        name.
    </li>
    <li class="has-line-data" data-line-start="130" data-line-end="131">description (string - optional) - A short
        description of the product.
    </li>
    <li class="has-line-data" data-line-start="131" data-line-end="132">category (JSON object - mandatory) - The
        product’s category id.
    </li>
    <li class="has-line-data" data-line-start="132" data-line-end="133">brand (JSON object/mandatory) - The product’s
        brand id.
    </li>
    <li class="has-line-data" data-line-start="133" data-line-end="134">vatTarrif (number) - The product’s VAT category,
        (NONE:0, ZERO:1, LOW:2, HIGH:3).
    </li>
    <li class="has-line-data" data-line-start="134" data-line-end="135">unit (number) - The product unit of measurement
        category, (UNSPECIFIED:0, PC:1, KG:2).
    </li>
    <li class="has-line-data" data-line-start="135" data-line-end="136">price (number) - The product’s price.</li>
    <li class="has-line-data" data-line-start="136" data-line-end="137">suppliers (Array&lt;JSON&gt;) - The suppliers’
        ids associated with the product.
    </li>
</ul>
<ul>
    <li class="has-line-data" data-line-start="139" data-line-end="164">
        <p class="has-line-data" data-line-start="139" data-line-end="140">Request (application/json)</p>
        <pre><code>   {
       &quot;barcode&quot;: &quot;1iia778n220k1&quot;,
       &quot;name&quot;: &quot;Bananas&quot;,
       &quot;description&quot;: &quot;These are some bananas&quot;,
       &quot;category&quot;: {
           &quot;id&quot;: 1
       },
       &quot;brand&quot;: {
           &quot;id&quot;: 1
       },
       &quot;vatTarrif&quot;: 2,
       &quot;unit&quot;: 2,
       &quot;price&quot;: 1.25,
       &quot;suppliers&quot;: [
           {
               &quot;id&quot;: 1
           },
           {
               &quot;id&quot;: 2
           }
                     ]
           }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="164" data-line-end="192">
        <p class="has-line-data" data-line-start="164" data-line-end="165">Response 201 (body)</p>
        <pre><code>   {
       &quot;id&quot;: 22,
       &quot;barcode&quot;: &quot;1234567891230&quot;,
       &quot;name&quot;: &quot;Bananas&quot;,
       &quot;description&quot;: &quot;These are some bananas&quot;,
       &quot;category&quot;: {
           &quot;id&quot;: 1,
           &quot;name&quot;: &quot;Fruits&quot;
       },
       &quot;brand&quot;: {
           &quot;id&quot;: 1,
           &quot;name&quot;: &quot;Chiquita&quot;
       },
       &quot;vatTarrif&quot;: &quot;LOW&quot;,
       &quot;unit&quot;: &quot;KG&quot;,
       &quot;price&quot;: null,
       &quot;suppliers&quot;: [
           {
               &quot;id&quot;: 1,
               &quot;name&quot;: &quot;Fruit supplier&quot;
           }
       ]
   }
</code></pre>
    </li>
</ul>
<h3 class="code-line" data-line-start=192 data-line-end=193><a id="Patch_an_Existing_Product_PATCH_192"></a>Patch an
    Existing Product [PATCH]</h3>
<p class="has-line-data" data-line-start="194" data-line-end="196">You may patch an existing product using this action.
    It takes a JSON<br>
    object any containing the following properties. Omitted properties will not be changed.</p>
<ul>
    <li class="has-line-data" data-line-start="197" data-line-end="198">barcode (string) - The product’s barcode.</li>
    <li class="has-line-data" data-line-start="198" data-line-end="199">name (string) - The product’s name.</li>
    <li class="has-line-data" data-line-start="199" data-line-end="200">description (string) - A short description of
        the product.
    </li>
    <li class="has-line-data" data-line-start="200" data-line-end="201">category (JSON object) - The product’s category
        id.
    </li>
    <li class="has-line-data" data-line-start="201" data-line-end="202">brand (JSON object) - The product’s brand id.
    </li>
    <li class="has-line-data" data-line-start="202" data-line-end="203">vatTarrif (number) - The product’s VAT category,
        (NONE:0, ZERO:1, LOW:2, HIGH:3).
    </li>
    <li class="has-line-data" data-line-start="203" data-line-end="204">unit (number) - The product unit of measurement
        category, (UNSPECIFIED:0, PC:1, KG:2).
    </li>
    <li class="has-line-data" data-line-start="204" data-line-end="205">price (number) - The product’s price.</li>
    <li class="has-line-data" data-line-start="205" data-line-end="206">suppliers (Array&lt;JSON&gt;) - The suppliers’
        ids associated with the product.
    </li>
</ul>
<ul>
    <li class="has-line-data" data-line-start="208" data-line-end="233">
        <p class="has-line-data" data-line-start="208" data-line-end="209">Request (application/json)</p>
        <pre><code>   {
       &quot;barcode&quot;: &quot;1iia778n220k1&quot;,
       &quot;name&quot;: &quot;Bananas&quot;,
       &quot;description&quot;: &quot;These are some bananas&quot;,
       &quot;category&quot;: {
           &quot;id&quot;: 1
       },
       &quot;brand&quot;: {
           &quot;id&quot;: 1
       },
       &quot;vatTarrif&quot;: 2,
       &quot;unit&quot;: 2,
       &quot;price&quot;: 1.25,
       &quot;suppliers&quot;: [
           {
               &quot;id&quot;: 1
           },
           {
               &quot;id&quot;: 2
           }
                     ]
           }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="233" data-line-end="259">
        <p class="has-line-data" data-line-start="233" data-line-end="234">Response 201 (body)</p>
        <pre><code>   {
       &quot;id&quot;: 22,
       &quot;barcode&quot;: &quot;1234567891230&quot;,
       &quot;name&quot;: &quot;Bananas&quot;,
       &quot;description&quot;: &quot;These are some bananas&quot;,
       &quot;category&quot;: {
           &quot;id&quot;: 1,
           &quot;name&quot;: &quot;Fruits&quot;
       },
       &quot;brand&quot;: {
           &quot;id&quot;: 1,
           &quot;name&quot;: &quot;Chiquita&quot;
       },
       &quot;vatTarrif&quot;: &quot;LOW&quot;,
       &quot;unit&quot;: &quot;KG&quot;,
       &quot;price&quot;: null,
       &quot;suppliers&quot;: [
           {
               &quot;id&quot;: 1,
               &quot;name&quot;: &quot;Fruit supplier&quot;
           }
       ]
   }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=259 data-line-end=260><a id="Category_categoryid_259"></a>Category
    [/category/{id}]</h2>
<h3 class="code-line" data-line-start=261 data-line-end=262><a id="Get_a_Category_GET_261"></a>Get a Category [GET]</h3>
<ul>
    <li class="has-line-data" data-line-start="263" data-line-end="270">
        <p class="has-line-data" data-line-start="263" data-line-end="264">Response 200 (application/json)</p>
        <pre><code>  {
      &quot;id&quot;: 15,
      &quot;name&quot;: &quot;Soups&quot;
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=270 data-line-end=271><a id="Category_Creation_category_270"></a>Category Creation
    [/category/]</h2>
<h3 class="code-line" data-line-start=272 data-line-end=273><a id="Create_a_New_Category_POST_272"></a>Create a New
    Category [POST]</h3>
<p class="has-line-data" data-line-start="274" data-line-end="277">You may create your own category using this action.
    It takes a JSON<br>
    object containing the following properties.<br>
    #####Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="278" data-line-end="280">
        <p class="has-line-data" data-line-start="278" data-line-end="279">name (string - mandatory) - The category’s
            name.</p>
    </li>
    <li class="has-line-data" data-line-start="280" data-line-end="286">
        <p class="has-line-data" data-line-start="280" data-line-end="281">Request (application/json)</p>
        <pre><code>      {
          &quot;name&quot;: &quot;Soups&quot;
      }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="286" data-line-end="296">
        <p class="has-line-data" data-line-start="286" data-line-end="287">Response (body)</p>
        <pre><code>  {
      &quot;id&quot;: 15,
      &quot;name&quot;: &quot;Soups&quot;
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=296 data-line-end=297><a id="Category_Change_categoryid_296"></a>Category Change
    [/category/{id}]</h2>
<h3 class="code-line" data-line-start=298 data-line-end=299><a id="Update_an_Existing_Category_PUT_298"></a>Update an
    Existing Category [PUT]</h3>
<p class="has-line-data" data-line-start="300" data-line-end="303">You may update an existing category using this
    action. It takes a JSON<br>
    object containing the following properties.<br>
    ####Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="304" data-line-end="321">
        <p class="has-line-data" data-line-start="304" data-line-end="305">name (string - mandatory) - The product’s
            name.</p>
        <ul>
            <li class="has-line-data" data-line-start="306" data-line-end="312">
                <p class="has-line-data" data-line-start="306" data-line-end="307">Request (application/json)</p>
                <pre><code>   {
    &quot;name&quot;: &quot;Soups&quot;,
   }
</code></pre>
            </li>
            <li class="has-line-data" data-line-start="312" data-line-end="321">
                <p class="has-line-data" data-line-start="312" data-line-end="313">Response 201 (body)</p>
                <pre><code>   {
       &quot;id&quot;: 15,
       &quot;name&quot;: &quot;Soups&quot;
   }
</code></pre>
            </li>
        </ul>
    </li>
</ul>
<h3 class="code-line" data-line-start=321 data-line-end=322><a id="Patch_an_Existing_Category_PATCH_321"></a>Patch an
    Existing Category [PATCH]</h3>
<p class="has-line-data" data-line-start="323" data-line-end="325">You may patch an existing category by using this
    action. It takes a JSON<br>
    object any containing the following properties. Omitted properties will not be changed.</p>
<ul>
    <li class="has-line-data" data-line-start="326" data-line-end="341">
        <p class="has-line-data" data-line-start="326" data-line-end="327">name (string) - The category’s name.</p>
        <ul>
            <li class="has-line-data" data-line-start="328" data-line-end="334">
                <p class="has-line-data" data-line-start="328" data-line-end="329">Request (application/json)</p>
                <pre><code>   {
       &quot;name&quot;: &quot;Soups&quot;,
   }
</code></pre>
            </li>
            <li class="has-line-data" data-line-start="334" data-line-end="341">
                <p class="has-line-data" data-line-start="334" data-line-end="335">Response 201 (body)</p>
                <pre><code>   {
       &quot;id&quot;: 15,
       &quot;name&quot;: &quot;Soups&quot;
   }
</code></pre>
            </li>
        </ul>
    </li>
</ul>
<h2 class="code-line" data-line-start=341 data-line-end=342><a id="Brand_brandid_341"></a>Brand [/brand/{id}]</h2>
<h3 class="code-line" data-line-start=343 data-line-end=344><a id="Get_a_Brand_GET_343"></a>Get a Brand [GET]</h3>
<ul>
    <li class="has-line-data" data-line-start="345" data-line-end="352">
        <p class="has-line-data" data-line-start="345" data-line-end="346">Response 200 (application/json)</p>
        <pre><code>  {
      &quot;id&quot;: 15,
      &quot;name&quot;: &quot;Chiquita&quot;
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=352 data-line-end=353><a id="Brand_Creation_brand_352"></a>Brand Creation
    [/brand/]</h2>
<h3 class="code-line" data-line-start=354 data-line-end=355><a id="Create_a_New_Brand_POST_354"></a>Create a New Brand
    [POST]</h3>
<p class="has-line-data" data-line-start="356" data-line-end="359">You may create your own brand using this action. It
    takes a JSON<br>
    object containing the following properties.<br>
    #####Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="360" data-line-end="362">
        <p class="has-line-data" data-line-start="360" data-line-end="361">name (string - mandatory) - The brand’s
            name.</p>
    </li>
    <li class="has-line-data" data-line-start="362" data-line-end="368">
        <p class="has-line-data" data-line-start="362" data-line-end="363">Request (application/json)</p>
        <pre><code>      {
          &quot;name&quot;: &quot;Chiquita&quot;
      }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="368" data-line-end="378">
        <p class="has-line-data" data-line-start="368" data-line-end="369">Response (body)</p>
        <pre><code>  {
      &quot;id&quot;: 15,
      &quot;name&quot;: &quot;Chiquita&quot;
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=378 data-line-end=379><a id="Brand_Change_brandid_378"></a>Brand Change
    [/brand/{id}]</h2>
<h3 class="code-line" data-line-start=380 data-line-end=381><a id="Update_an_Existing_Brand_PUT_380"></a>Update an
    Existing Brand [PUT]</h3>
<p class="has-line-data" data-line-start="382" data-line-end="385">You may update an existing brand using this action.
    It takes a JSON<br>
    object containing the following properties.<br>
    ####Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="386" data-line-end="403">
        <p class="has-line-data" data-line-start="386" data-line-end="387">name (string - mandatory) - The brand’s
            name.</p>
        <ul>
            <li class="has-line-data" data-line-start="388" data-line-end="394">
                <p class="has-line-data" data-line-start="388" data-line-end="389">Request (application/json)</p>
                <pre><code>   {
    &quot;name&quot;: &quot;Chiquita&quot;,
   }
</code></pre>
            </li>
            <li class="has-line-data" data-line-start="394" data-line-end="403">
                <p class="has-line-data" data-line-start="394" data-line-end="395">Response 201 (body)</p>
                <pre><code>   {
       &quot;id&quot;: 15,
       &quot;name&quot;: &quot;Chiquita&quot;
   }
</code></pre>
            </li>
        </ul>
    </li>
</ul>
<h3 class="code-line" data-line-start=403 data-line-end=404><a id="Patch_an_Existing_Brand_PATCH_403"></a>Patch an
    Existing Brand [PATCH]</h3>
<p class="has-line-data" data-line-start="405" data-line-end="407">You may patch an existing brand by using this action.
    It takes a JSON<br>
    object any containing the following properties. Omitted properties will not be changed.</p>
<ul>
    <li class="has-line-data" data-line-start="408" data-line-end="423">
        <p class="has-line-data" data-line-start="408" data-line-end="409">name (string) - The brand’s name.</p>
        <ul>
            <li class="has-line-data" data-line-start="410" data-line-end="416">
                <p class="has-line-data" data-line-start="410" data-line-end="411">Request (application/json)</p>
                <pre><code>   {
       &quot;name&quot;: &quot;Chiquita&quot;,
   }
</code></pre>
            </li>
            <li class="has-line-data" data-line-start="416" data-line-end="423">
                <p class="has-line-data" data-line-start="416" data-line-end="417">Response 201 (body)</p>
                <pre><code>   {
       &quot;id&quot;: 15,
       &quot;name&quot;: &quot;Soups&quot;
   }
</code></pre>
            </li>
        </ul>
    </li>
</ul>
<h2 class="code-line" data-line-start=423 data-line-end=424><a id="Supplier_supplierid_423"></a>Supplier
    [/supplier/{id}]</h2>
<h3 class="code-line" data-line-start=425 data-line-end=426><a id="Get_a_Supplier_GET_425"></a>Get a Supplier [GET]</h3>
<ul>
    <li class="has-line-data" data-line-start="427" data-line-end="434">
        <p class="has-line-data" data-line-start="427" data-line-end="428">Response 200 (application/json)</p>
        <pre><code>  {
      &quot;id&quot;: 15,
      &quot;name&quot;: &quot;Jason Statham&quot;
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=434 data-line-end=435><a id="Supplier_Creation_supplier_434"></a>Supplier Creation
    [/supplier/]</h2>
<h3 class="code-line" data-line-start=436 data-line-end=437><a id="Create_a_New_Supplier_POST_436"></a>Create a New
    Supplier [POST]</h3>
<p class="has-line-data" data-line-start="438" data-line-end="441">You may create your own supplier using this action.
    It takes a JSON<br>
    object containing the following properties.<br>
    #######Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="442" data-line-end="444">
        <p class="has-line-data" data-line-start="442" data-line-end="443">name (string - mandatory) - The supplier’s
            name.</p>
    </li>
    <li class="has-line-data" data-line-start="444" data-line-end="450">
        <p class="has-line-data" data-line-start="444" data-line-end="445">Request (application/json)</p>
        <pre><code>      {
          &quot;name&quot;: &quot;Jason Statham&quot;
      }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="450" data-line-end="460">
        <p class="has-line-data" data-line-start="450" data-line-end="451">Response (body)</p>
        <pre><code>  {
      &quot;id&quot;: 15,
      &quot;name&quot;: &quot;Jason Statham&quot;
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=460 data-line-end=461><a id="Supplier_Change_supplierid_460"></a>Supplier Change
    [/supplier/{id}]</h2>
<h3 class="code-line" data-line-start=462 data-line-end=463><a id="Update_an_Existing_Supplier_PUT_462"></a>Update an
    Existing Supplier [PUT]</h3>
<p class="has-line-data" data-line-start="464" data-line-end="467">You may update an existing supplier using this
    action. It takes a JSON<br>
    object containing the following properties.<br>
    ###Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="468" data-line-end="485">
        <p class="has-line-data" data-line-start="468" data-line-end="469">name (string - mandatory) - The supplier’s
            name.</p>
        <ul>
            <li class="has-line-data" data-line-start="470" data-line-end="476">
                <p class="has-line-data" data-line-start="470" data-line-end="471">Request (application/json)</p>
                <pre><code>   {
    &quot;name&quot;: &quot;Jason Statham&quot;,
   }
</code></pre>
            </li>
            <li class="has-line-data" data-line-start="476" data-line-end="485">
                <p class="has-line-data" data-line-start="476" data-line-end="477">Response 201 (body)</p>
                <pre><code>   {
       &quot;id&quot;: 15,
       &quot;name&quot;: &quot;Jason Statham&quot;
   }
</code></pre>
            </li>
        </ul>
    </li>
</ul>
<h3 class="code-line" data-line-start=485 data-line-end=486><a id="Patch_an_Existing_Supplier_PATCH_485"></a>Patch an
    Existing Supplier [PATCH]</h3>
<p class="has-line-data" data-line-start="487" data-line-end="489">You may patch an existing supplier by using this
    action. It takes a JSON<br>
    object containing the following properties. Omitted properties will not be changed.</p>
<ul>
    <li class="has-line-data" data-line-start="490" data-line-end="507">
        <p class="has-line-data" data-line-start="490" data-line-end="491">name (string) - The supplier’s name.</p>
        <ul>
            <li class="has-line-data" data-line-start="492" data-line-end="498">
                <p class="has-line-data" data-line-start="492" data-line-end="493">Request (application/json)</p>
                <pre><code>   {
       &quot;name&quot;: &quot;Soups&quot;,
   }
</code></pre>
            </li>
            <li class="has-line-data" data-line-start="498" data-line-end="507">
                <p class="has-line-data" data-line-start="498" data-line-end="499">Response 201 (body)</p>
                <pre><code>   {
       &quot;id&quot;: 15,
       &quot;name&quot;: &quot;Soups&quot;
   }
</code></pre>
            </li>
        </ul>
    </li>
</ul>
<h2 class="code-line" data-line-start=507 data-line-end=508><a id="Purchase_Order_purchaseOrderid_507"></a>Purchase
    Order [/purchaseOrder/{id}]</h2>
<h3 class="code-line" data-line-start=509 data-line-end=510><a id="Get_a_purchase_order_GET_509"></a>Get a purchase
    order [GET]</h3>
<ul>
    <li class="has-line-data" data-line-start="511" data-line-end="533">
        <p class="has-line-data" data-line-start="511" data-line-end="512">Response 200 (application/json)</p>
        <pre><code> {
             &quot;id&quot;: 2,
             &quot;supplier_id&quot;: 1,
             &quot;purchase_order_item&quot;: [
                 {
                     &quot;id&quot;: 1,
                     &quot;product_id&quot;: 1,
                     &quot;quantity&quot;: 100,
                     &quot;price&quot;: 1.00
                 },
                 {
                     &quot;id&quot;: 2,
                     &quot;product_id&quot;: 2,
                     &quot;quantity&quot;: 200,
                     &quot;price&quot;: 3.00
                 }
             ]
         }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=533 data-line-end=534><a id="Purchase_Order_Creation_purchaseOrder_533"></a>Purchase
    Order Creation [/purchaseOrder/]</h2>
<h3 class="code-line" data-line-start=535 data-line-end=536><a id="Create_a_New_Purchase_Order_POST_535"></a>Create a
    New Purchase Order [POST]</h3>
<p class="has-line-data" data-line-start="537" data-line-end="540">You may create a new purchase order using this
    action. It takes a JSON<br>
    object containing the following properties.<br>
    #####Omitted properties will be converted to null if not mandatory.</p>
<ul>
    <li class="has-line-data" data-line-start="541" data-line-end="542">supplier_id (number - mandatory) - The id for
        the supplier.
    </li>
    <li class="has-line-data" data-line-start="542" data-line-end="544">purchase_order_item (JSON object - mandatory) -
        The purchase order item to be created.<br>
        It consists of a product id (number - mandatory), quantity (number), price (number).
    </li>
</ul>
<ul>
    <li class="has-line-data" data-line-start="546" data-line-end="558">
        <p class="has-line-data" data-line-start="546" data-line-end="547">Request (application/json)</p>
        <pre><code>      {&quot;supplier_id&quot;:1,
          &quot;purchase_order_item&quot;:[
              {
              &quot;product_id&quot;:1,
              &quot;quantity&quot;: 100,
              &quot;price&quot;: 1.00
          }
          ]
      }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="558" data-line-end="573">
        <p class="has-line-data" data-line-start="558" data-line-end="559">Response (body)</p>
        <pre><code>  {
      &quot;id&quot;: 2,
      &quot;supplier_id&quot;: 1,
      &quot;purchase_order_item&quot;: [
          {
              &quot;id&quot;: 1,
              &quot;product_id&quot;: 1,
              &quot;quantity&quot;: 100,
              &quot;price&quot;: 1.00
          }
      ]
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=573 data-line-end=574><a id="Purchase_Order_Change_purchaseOrder_573"></a>Purchase
    Order Change [/purchaseOrder/]</h2>
<h3 class="code-line" data-line-start=575 data-line-end=576><a id="Update_an_existing_Purchase_Order_PUT_575"></a>Update
    an existing Purchase Order [PUT]</h3>
<p class="has-line-data" data-line-start="577" data-line-end="579">You may add a purchase order item to an existing
    purchase order using this action. It takes a JSON<br>
    object containing the following properties.</p>
<ul>
    <li class="has-line-data" data-line-start="580" data-line-end="581">supplier_id (number - mandatory) - The id for
        the supplier.
    </li>
    <li class="has-line-data" data-line-start="581" data-line-end="583">purchase_order_item (JSON object - mandatory) -
        The purchase order item to be created.<br>
        It consists of a product id (number - mandatory), quantity (number), price (number).
    </li>
</ul>
<ul>
    <li class="has-line-data" data-line-start="585" data-line-end="597">
        <p class="has-line-data" data-line-start="585" data-line-end="586">Request (application/json)</p>
        <pre><code>      {&quot;supplier_id&quot;:1,
          &quot;purchase_order_item&quot;:[
          {
              &quot;product_id&quot;:2,
              &quot;quantity&quot;: 200,
              &quot;price&quot;: 3.00
          }
          ]
      }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="597" data-line-end="619">
        <p class="has-line-data" data-line-start="597" data-line-end="598">Response (body)</p>
        <pre><code>  {
      &quot;id&quot;: 2,
      &quot;supplier_id&quot;: 1,
      &quot;purchase_order_item&quot;: [
          {
              &quot;id&quot;: 1,
              &quot;product_id&quot;: 1,
              &quot;quantity&quot;: 100,
              &quot;price&quot;: 1.00
          },
          {
              &quot;id&quot;: 2,
              &quot;product_id&quot;: 2,
              &quot;quantity&quot;: 200,
              &quot;price&quot;: 3.00
          }
      ]
  }
</code></pre>
    </li>
</ul>
<h2 class="code-line" data-line-start=619 data-line-end=620><a id="Purchase_Order_Change_purchaseOrderid_619"></a>Purchase
    Order Change [/purchaseOrder/{id}]</h2>
<h3 class="code-line" data-line-start=621 data-line-end=622><a id="Update_an_existing_Purchase_Order_PUT_621"></a>Update
    an existing Purchase Order [PUT]</h3>
<p class="has-line-data" data-line-start="623" data-line-end="625">You may add a purchase order item to an existing
    purchase order using this action. It takes a JSON<br>
    object containing the following properties.</p>
<ul>
    <li class="has-line-data" data-line-start="626" data-line-end="627">product_id (number - mandatory) - The product’s
        id.
    </li>
    <li class="has-line-data" data-line-start="627" data-line-end="628">quantity (number) - The quantity for this
        purchase order item.
    </li>
    <li class="has-line-data" data-line-start="628" data-line-end="629">price (number) - The purchase price of the
        purchase order item.
    </li>
</ul>
<ul>
    <li class="has-line-data" data-line-start="631" data-line-end="640">
        <p class="has-line-data" data-line-start="631" data-line-end="632">Request (application/json)</p>
        <pre><code>  {
       &quot;product_id&quot;:2,
       &quot;quantity&quot;:200,
       &quot;price&quot;: 3.00

  }
</code></pre>
    </li>
    <li class="has-line-data" data-line-start="640" data-line-end="663">
        <p class="has-line-data" data-line-start="640" data-line-end="641">Response 201 (body)</p>
        <pre><code>   {
       &quot;id&quot;: 2,
       &quot;supplier_id&quot;: 1,
       &quot;purchase_order_item&quot;: [
       {
           &quot;id&quot;: 1,
           &quot;product_id&quot;: 1,
           &quot;quantity&quot;: 100,
           &quot;price&quot;: 1.00
       },
       {
           &quot;id&quot;: 2,
           &quot;product_id&quot;: 2,
           &quot;quantity&quot;: 200,
           &quot;price&quot;: 3.00
       }
       ]
   }
</code></pre>
    </li>
</ul>

</body>
</html>